@tailwind base;
@tailwind components;
@tailwind utilities;


.container{
    @apply w-[90%] max-w-[1440px] mx-auto 
}


.btn-solid{
    @apply px-2 py-2 bg-orange-500 hover:bg-orange-600 active:scale-95 duration-200 flex justify-end items-center rounded-full text-[16px]
}

.card{
    @apply  p-[10px]  justify-between flex-col flex gap-2 backdrop-blur-[20px] bg-[#5553534a] rounded-2xl  cursor-pointer 
}



.products{
    @apply  grid grid-cols-[repeat(auto-fill,minmax(250px,1fr))] gap-3 text-white container backdrop-blur-[10px] bg-[#ffffff21] p-5 rounded-xl h-[calc(100vh-120px)] overflow-y-scroll relative
}

.title{
  @apply flex-1 text-[30px] font-extrabold
}

body{
  @apply bg-food  bg-no-repeat bg-cover bg-center w-[100vw] h-[100vh] backdrop-blur-sm relative
}





.header{
  @apply container flex justify-center items-center md:h-[100px] text-[#ffff1c] flex-col md:flex-row gap-5 h-max py-3 md:py-0
}

li{
  @apply bg-[#9c9c9c] rounded-2xl py-[2px] px-[10px] text-black hover:text-[#3a51e3] cursor-pointer active:scale-95 duration-300
}

.search{
  @apply  absolute right-[5px] top-0 bottom-0 py-2 
}

ul{
  @apply flex justify-center items-center gap-3 text-[18px] font-semibold
}

input{
  @apply w-[100%] py-2 px-5 rounded-full bg-[#878383da] text-black outline-none
}

.active{
  @apply text-[#3a51e3]
}

html{
  scroll-behavior: smooth;
}


.basket-act{
  @apply bg-transparent border-[1px] border-orange-400 text-white hover:bg-[#ffffff49] hover:text-[#090909aa]
}

.count{
  @apply absolute top-[-15px] right-[-15px] w-5 h-5 bg-orange-400 rounded-full text-black font-bold text-[18px] flex justify-center items-center
}






::-webkit-scrollbar {
    width: 5px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f193;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #e9ed20;
    border-radius: 10px;

  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #f3ff09;
  }




  #loader-2 span{
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: #3498db;
  margin: 35px 5px;
}

#loader-2 span:nth-child(1){
  animation: bounce 1s ease-in-out infinite;
}

#loader-2 span:nth-child(2){
  animation: bounce 1s ease-in-out 0.33s infinite;
}

#loader-2 span:nth-child(3){
  animation: bounce 1s ease-in-out 0.66s infinite;
}

@keyframes bounce{
  0%, 75%, 100%{
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }

  25%{
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    transform: translateY(-20px);
  }
}








 .success{
  width: 80px;
  height: 115px;
  margin: 0 auto;
  
  .check-icon {
      width: 80px;
      height: 80px;
      position: relative;
      border-radius: 50%;
      box-sizing: content-box;
      border: 4px solid #4CAF50;
      
      &::before {
          top: 3px;
          left: -2px;
          width: 30px;
          transform-origin: 100% 50%;
          border-radius: 100px 0 0 100px;
      }
      
      &::after {
          top: 0;
          left: 30px;
          width: 60px;
          transform-origin: 0 50%;
          border-radius: 0 100px 100px 0;
          animation: rotate-circle 4.25s ease-in;
      }
      
      &::before, &::after {
          content: '';
          height: 100px;
          position: absolute;
          transform: rotate(-45deg);
      }
      
      .icon-line {
          height: 5px;
          background-color: #4CAF50;
          display: block;
          border-radius: 2px;
          position: absolute;
          z-index: 10;
          
          &.line-tip {
              top: 46px;
              left: 14px;
              width: 25px;
              transform: rotate(45deg);
              animation: icon-line-tip 0.75s;
          }
          
          &.line-long {
              top: 38px;
              right: 8px;
              width: 47px;
              transform: rotate(-45deg);
              animation: icon-line-long 0.75s;
          }
      }
      
      .icon-circle {
          top: -4px;
          left: -4px;
          z-index: 10;
          width: 80px;
          height: 80px;
          border-radius: 50%;
          position: absolute;
          box-sizing: content-box;
          border: 4px solid rgba(76, 175, 80, .5);
      }
      
      .icon-fix {
          top: 8px;
          width: 5px;
          left: 26px;
          z-index: 1;
          height: 85px;
          position: absolute;
          transform: rotate(-45deg);
      }
  }
}

@keyframes rotate-circle {
  0% {
      transform: rotate(-45deg);
  }
  5% {
      transform: rotate(-45deg);
  }
  12% {
      transform: rotate(-405deg);
  }
  100% {
      transform: rotate(-405deg);
  }
}

@keyframes icon-line-tip {
  0% {
      width: 0;
      left: 1px;
      top: 19px;
  }
  54% {
      width: 0;
      left: 1px;
      top: 19px;
  }
  70% {
      width: 50px;
      left: -8px;
      top: 37px;
  }
  84% {
      width: 17px;
      left: 21px;
      top: 48px;
  }
  100% {
      width: 25px;
      left: 14px;
      top: 45px;
  }
}

@keyframes icon-line-long {
  0% {
      width: 0;
      right: 46px;
      top: 54px;
  }
  65% {
      width: 0;
      right: 46px;
      top: 54px;
  }
  84% {
      width: 55px;
      right: 0px;
      top: 35px;
  }
  100% {
      width: 47px;
      right: 8px;
      top: 38px;
  }
}